.main-title {
  font-size: 50px;
  margin-bottom: 20px;
}

.length-control {
  width: 250px;
  display: inline-block;
}

button {
  background: transparent;
  outline: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1px 6px;
}

span {
  width: 40px;
}

.timer-container {
  width: 270px;
  height: 160px;
  margin: 20px auto 10px auto;
  border: 7px solid #13353a;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#time-label {
  align-self: flex-end;
}

#time-left {
  font-size: 80px;
}

.author {
  margin-top: 15px;
  color: #a50d0d;
  font-size: 14px;
  font-family: "Share Tech Mono", sans-serif;
}

a {
  color: #00264d;
  text-decoration: none;
  line-height: 14px;
}
