@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.background {
  background: #8d8d8d;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container {
  width: 643px;
  background-color: #b3b3b3;
  border: 5px solid #ffa500;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 5px;
  right: 10px;
}

.logo-text {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.fa {
  display: inline-block;
  margin-left: 10px;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.keypad {
  width: 332px;
  height: 272px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 4px;
}

.drum-pad {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100px;
  height: 80px;
  background-color: #808080;
  border-radius: 5px;
  -webkit-box-shadow: black 3px 3px 5px;
          box-shadow: black 3px 3px 5px;
  cursor: pointer;
}

.key-letters {
  background-color: transparent;
}

.key-down {
  background-color: orange;
  margin-top: 3px;
  -webkit-box-shadow: orange 0px 3px;
          box-shadow: orange 0px 3px;
  height: 77px;
}

.switch-panel {
  height: 272px;
  width: 240px;
  margin: 40px 20px 0 10px;
  text-align: center;
}

.btn {
  width: 54px;
  height: 24px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 1px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-text {
  margin-top: 10px;
}

.btn-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn-inner {
  width: 25px;
  height: 20px;
  background: blue;
  border: 1px solid black;
  cursor: pointer;
}

.display {
  width: 200px;
  background-color: gray;
  margin: 15px auto;
  padding: 15px;
}

[type=range] {
  -webkit-appearance: none;
  margin: 12.5px 0;
  width: 100%;
}

[type=range]:focus {
  outline: none;
}

[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
          box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: #424242;
  border: 1px solid #000;
  border-radius: 0;
}

[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
          box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
  border: 0 solid #fff;
  height: 25px;
  width: 8px;
  border-radius: 0;
  background: blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

[type=range]:focus::-webkit-slider-runnable-track {
  background: #4f4f4f;
}

[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: #424242;
  border: 1px solid #000;
  border-radius: 0;
}

[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
  border: 0 solid #fff;
  height: 25px;
  width: 8px;
  border-radius: 0;
  background: blue;
  cursor: pointer;
}

[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}

[type=range]::-ms-fill-lower {
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: #353535;
  border: 1px solid #000;
  border-radius: 0;
}

[type=range]::-ms-fill-upper {
  box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
  background: #424242;
  border: 1px solid #000;
  border-radius: 0;
}

[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
  border: 0 solid #fff;
  height: 25px;
  width: 8px;
  border-radius: 0;
  background: blue;
  cursor: pointer;
}

[type=range]:focus::-ms-fill-lower {
  background: #424242;
}

[type=range]:focus::-ms-fill-upper {
  background: #4f4f4f;
}
/*# sourceMappingURL=App.css.map */