@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

#clear {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: clear;
  background-color: #ac3939;
}

#divide {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: divide;
}

#multiply {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: multiply;
}

#subtract {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: subtract;
}

#add {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: add;
}

#seven {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: seven;
}

#eight {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: eight;
}

#nine {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: nine;
}

#four {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: four;
}

#six {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: six;
}

#one {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: one;
}

#two {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: two;
}

#three {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: three;
}

#zero {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: zero;
}

#decimal {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: decimal;
  background-color: #4d4d4d;
}

#equals {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: equals;
  background-color: #004466;
}

.background {
  background-color: #c2c2d6;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.calculator {
  width: 334px;
  height: 394px;
  background-color: black;
  padding: 5px;
  border: 2px solid #47476b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 20px 35px (1fr)[5];
      grid-template-rows: 20px 35px repeat(5, 1fr);
      grid-template-areas: "formula formula formula formula" "output output output output" "clear clear divide multiply" "seven eight nine subtract" "four five six add" "one two three equals" "zero zero decimal equals";
}

.screen {
  font-family: "digital";
  text-align: right;
}

.formula-screen {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: formula;
  color: orange;
  line-height: 20px;
}

.output-screen {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: output;
  color: white;
  font-size: 29px;
  line-height: 35px;
}

button {
  border-radius: 0;
  border: 0;
  font-size: 20px;
  font-family: "Share Tech Mono", monospace;
  color: white;
  border: 1px solid black;
}

button:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}

.operators {
  background-color: #666666;
}

.numbers {
  background-color: #4d4d4d;
}

.author {
  text-align: center;
  font-family: "Share Tech Mono", sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

.author a {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=App.css.map */